@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a tag to @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select tag: ")
  @Html.DropDownList("TagId")
  <br><br>
  <input type="submit" value="Save" id="green-button"/>
}

<div class="recipe-links">
  <span>@Html.ActionLink(".Back to list", "Index")</span>
</div>