@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600; color:red;" })</p>
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <p>@Html.ValidationMessageFor(model => model.Ingredients, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  @Html.LabelFor(model => model.Ingredients)
  @Html.TextAreaFor(model => model.Ingredients)

  <p>@Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  @Html.LabelFor(model => model.Instructions)
  @Html.TextAreaFor(model => model.Instructions)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>