@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<div class="recipeIndex">
<h1 class="recipe-list">Recipes for @ViewBag.UserName</h1>

@if (@Model.Count == 0)
{
  <h3>No recipes have been added yet!</h3>
} 
else
{
    @foreach(Recipe recipe in Model)
  {
    <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId }) | 
      @foreach(TagRecipe join in recipe.JoinEntities)
      {
        @Html.ActionLink($"{join.Tag.Title} ", "Details", "Tags", new {id = join.Tag.TagId} )
      }
    </li>
  }
}
</div>
<div class="recipeLayout">
<div class="recipe-links">
  <span>@Html.ActionLink(".Add new recipe", "Create")</span>
  <span>@Html.ActionLink(".Home", "Index", "Home")</span>
</div>
</div>