@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Add a recipe to @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.Label("Select recipe: ")
  @Html.DropDownList("RecipeId")
  <br><br>
  <input type="submit" value="Save" id="green-button"/>
}

<div class="recipe-links">
  <span>@Html.ActionLink(".Back to list", "Index")</span>
</div>