@{
  Layout = "_Layout";
}

@model RecipeBox.ViewModels.RegisterViewModel
  
<h1 class="bg-info text-white">Create User</h1>
<div asp-validation-summary="All" class="text-danger"></div>
  
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)

    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)

    @Html.LabelFor(model => model.ConfirmPassword)
    @Html.EditorFor(model => model.ConfirmPassword)
    
    <input type="submit" value="boom" id="green-button"/>
    }